HOST: http://api.theysay.io/v1

--- TheySay AffectR REST API v1: Documentation ---
---

AffectR REST API is a platform-agnostic service which enables developers to access and mix-and-match our powerful text analysis processors that cover sentiment analysis, speculation detection, part-of-speech 
tagging, dependency parsing, and others. 
If you're building an application that cannot do without serious, state-of-the-art live text analytics but don't want to delve deep into natural language processing,
then this is the API for you. 

Getting started with our API is easy. Explore the API below, and simply [sign up](http://theysay.io/signup) to 
receive a development key. 

Have a question? [Read the FAQ](http://theysay.io/faq) or [contact us](contact@theysayanalytics.com).
Want to see examples of how our analysis can be used? Check out our [Case Studies](http://theysay.io/casestudies).
Want to know more about our technology? Read our [White Papers](http://theysay.io/technology).

&copy; 2012 TheySay Ltd. All Rights Reserved.

Rate Limiting
-------------
By default, AffectR REST API allows API clients to make a limited number of calls in a given hour. In pracice, this policy will affect your usage 
in a number of different ways. The default rate limit for calls to the REST API varies depending on the authorisation method used 
and whether the method itself requires authentication. If your application exceeds the rate limit, it will receive a HTTP `403` error response code.
The following thresholds apply:

* Unauthenticated calls are permitted up to 30 requests per hour.
* Authenticated calls are permitted up to 3500 requests per hour, and are measured against the token submitted with the request.

JSONP
-----
JSONP or "JSON with padding" is a complement to the base JSON data format. You can add 'padding' by 
including the request parameter `callback`. The returned `Content-Type` will be `application/javascript`.

For example `http://api.theysay.io/v1/sentiment?text=...&callback=processSentiment`.

---

--
Sentiment Analysis

Sentiment, a dimension of non-factuality that is closely related to subjectivity/affect/emotion/moods, reflects the following fundamental poles manifesting psychological evaluation:

* good/positive/pros/favourable/desirable/recommended/thumbs up/...
* bad/negative/cons/unfavourable/undesirable/not recommended/thumbs down/...

You can use the Sentiment Analysis service to discover deep, fine-grained sentiments and opinions in text.
The analysis, output by a human-like sentiment reasoning algorithm, captures both explicit "author sentiment" as well as 
general, implicit "reader-sentiment" beyond opinions that ultimately stems from affective commons sense as well as issues and events that are 
generally considered to be good vs. bad in the world. 
The analysis can target multiple structural levels of text ranging from entire documents to individual entity mentions.
The returned analysis includes majority sentiment labels, fine-grained 3-way positive/neutral/negative sentiment scores, 
and other auxiliary fields.
--
Get document-level sentiment information about the text snippet as a whole.
GET /sentiment?text=Angela%20Merkel%20failed%20to%20convince%20the%20Parliament.
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
{
  "sentiment": {
    "label": "NEGATIVE",
    "positive": 0.119,
    "negative": 0.873,
    "neutral": 0.007
  },
  "wordCount": 8
}


Add the `level=sentence` parameter to get sentiment information about each sentence in the text snippet.
GET /sentiment?text=...&level=sentence
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "end": 38,
  "sentenceIndex": 0,
  "sentiment": {
    "confidence": 0.668,
    "label": "POSITIVE",
    "positive": 0.787,
    "negative": 0.16,
    "neutral": 0.053
  },
  "start": 0,
  "text": "The new French President Francois Hollande wants a \" growth pact \" in Europe - a set of reforms designed to boost European economies and mitigate the pain caused by government spending cuts across the continent ."
}, {
  "end": 68,
  "sentenceIndex": 1,
  "sentiment": {
    "confidence": 0.614,
    "label": "NEGATIVE",
    "positive": 0.347,
    "negative": 0.627,
    "neutral": 0.026 
  },
  "start": 37,
  "text": "All the bad loans made by eurozone banks may need to be cleaned up ( by injecting money into the banks ) because many national governments probably can not afford it ."
}]


Add the `level=entity` parameter to get sentiment information about each individual entity mentioned in the text snippet.
GET /sentiment?text=...&level=entity
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "end": 21,
  "headNoun": "Obama",
  "headNounIndex": "1",
  "namedEntityTypes": ["PEOPLE"],
  "salience": 0.9,
  "sentenceIndex": 0,
  "sentiment": {
    "label": "POSITIVE",
    "positive": 0.838,
    "negative": 0.0,
    "neutral": 0.161,
    "confidence": 0.729
  },
  "start": 0,
  "sentence": "Under it , an individual resigns from their company and any salary they subsequently receive is paid to an offshore trust .",
  "sentenceHtml": "Under it , an individual resigns from their company and any salary they subsequently receive is paid to an offshore trust .",
  "text": "President Obama",
  "words": ["President Obama", "Obama"]
}, {
  "end": 21,
  "headNoun": "Obama",
  "headNounIndex": "1",
  "namedEntityTypes": ["LOCATION"],
  "salience": 0.9,
  "sentenceIndex": 0,
  "sentiment": {
    "label": "POSITIVE",
    "positive": 0.838,
    "negative": 0.0,
    "neutral": 0.161,
    "confidence": 0.729
  },
  "start": 0,
  "sentence": "Under it , an individual resigns from their company and any salary they subsequently receive is paid to an offshore trust .",
  "sentenceHtml": "Under it , an individual resigns from their company and any salary they subsequently receive is paid to an offshore trust .",
  "text": "President Obama",
  "words": ["President Obama", "Obama"]
}]


Add the `level=entityrelation` parameter to get sentiment information about how pairs of entities are related in the text snippet.
GET /sentiment?text=...&level=entityrelation
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "entity1": {
    "head": "Obama"
    "headIndex": 0,
    "text": "President Obama"
  },
  "entity2": {
    "head": "Merkel"
    "headIndex": 0,
    "text": "Angela Merkel"
  },
  "salience": 0.66,
  "sentiment": {
    "confidence": 0.729
    "label": "NEGATIVE",
    "positive": 0,
    "negative": 0.161,
    "neutral": 0.838
  },
  "sentence": "Under it , an individual resigns from their company and any salary they subsequently receive is paid to an offshore trust .",
  "sentenceHtml": "Under it , an individual resigns from their company and any salary they subsequently receive is paid to an offshore trust ."
}]


Add the `level=word` parameter to get information about the temporal development (or flow) of sentiment through the text snippet.
For each word in the text snippet, contextual sentence-level sentiment labels are provided.
GET /sentiment?text=I%20really%20like%20theysay&level=word
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "sentiment": {
    "label": "POSITIVE",
    "timelineY": 1.0
  },
  "wordIndex": 0,
  "text": "I"
}, {
  "sentiment": {
    "label": "POSITIVE",
    "timelineY": 1.0170000000000001
  },
  "wordIndex": 1,
  "text": "really"
}, {
  "sentiment": {
    "label": "POSITIVE",
    "timelineY": 1.033
  },
  "wordIndex": 2,
  "text": "like"
}, {
  "sentiment": {
    "label": "POSITIVE",
    "timelineY": 1.05
  },
  "wordIndex": 3,
  "text": "theysay"
}]


--
Speculation Detection
Speculative content refers directly or indirectly to any 'irrealis' events that are yet to happen. 
Speculative expressions can hence cover events as diverse as predictions, plans, wanting, wishes, waiting, and risks and warnings, to name a few.      
This service detects speculative expressions at the document and sentence level.
The returned analysis contains only identified speculative content.
Any detected subtypes of speculation are denoted with a dot character (e.g. SPECULATION.SUBTYPE).
--
Get an overall speculation score and individual speculation types from a text snippet.
GET /speculation?text=I%20might%20buy%20macbooks
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "speculationScore": 0.75,
  "speculationTypes": ["SPECULATION", "SPECULATION.PLAN"]
}]


Add the `level=sentence` parameter to get speculation types for each sentence in the text snippet.
GET /speculation?text=...&level=sentence
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "end": 3,
  "sentenceIndex": 0,
  "speculationType": "",
  "start": 6,
  "text": "I spotted this message on Twitter."
},
{
  "end": 7,
  "sentenceIndex": 1,
  "speculationType": "SPECULATION.WARNING",
  "start": 0,
  "text": "Laptops come with huge health risks!"
}]


--
Named Entity Recognition
This service detects expressions in the text snippet that refer explicitly or implicitly to human (PEOPLE), locative (LOCATION), 
organisational (ORGANISATION), temporal (TIMEDATE), and monetary (MONEY) entities and concepts.
For each identified expression (simple and complex Noun Phrases, Adjective Phrases, or Adverb Phrases), the detected Named Entity types are ranked by their salience (most salient first).
--
GET /namedentity?text=I%20might%20buy%20macbooks&level=phrase
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "end": 5,
  "head": "Hollande",
  "headIndex": 5,
  "namedEntityTypes": ["PEOPLE", "ORGANISATION", "LOCATION"],
  "sentence" : "The new French President Francois Hollande wants a \" growth pact \" in Europe - a set of reforms designed to boost European economies and mitigate the pain caused by government spending cuts across the continent .",
  "sentenceHtml" : "<span class=\"namedEntity\">The new French President Francois Hollande</span> wants a \" growth pact \" in Europe - a set of reforms designed to boost European economies and mitigate the pain caused by government spending cuts across the continent .",
  "sentenceIndex": 0,
  "start": 0,
  "text": "The new French President Francois Hollande"
}, {
  "end": 15,
  "head": "area",
  "headIndex": 7,
  "namedEntityTypes": ["LOCATION"],
  "sentence" : "The three lifeboats have been searching an area 25 miles ( 40km ) south of Wick , in the Beatrice oil field , for the two crew who remain missing . ",
  "sentenceHtml" : "The three lifeboats have been searching <span class=\"namedEntity\">an area 25 miles ( 40km ) south of Wick</span> , in the Beatrice oil field , for the two crew who remain missing . ",
  "sentenceIndex": 1,
  "start": 6,
  "text": "an area 25 miles ( 40km ) south of Wick"
}, {
  "end": 18,
  "head": "counterpart",
  "headIndex": 14,
  "namedEntityTypes": ["PEOPLE", "LOCATION"],
  "sentence" : "Mrs Clinton made the announcement in Washington after talks by phone with her Pakistani counterpart , Hina Rabbani Khar .",
  "sentenceHtml" : "Mrs Clinton made the announcement in Washington after talks by phone with <span class=\"namedEntity\">her Pakistani counterpart , Hina Rabbani Khar</span> .",
  "sentenceIndex": 1,
  "start": 12,
  "text": "her Pakistani counterpart , Hina Rabbani Khar"
}]


--
Part-of-Speech Tagging
This service assigns word class types to individual words in the text snippet.
The [tagset]() used is largely compatible with the [Penn Treebank Tagset](http://www.cis.upenn.edu/~treebank/).
--
GET /postag?text=I%20might%20buy%20macbooks
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "posTag": "PRP",
  "posTaggedWord": "I/PRP",
  "sentenceIndex": 0,
  "stem": "I|i",
  "text": "I",
  "wordIndex": 0
}, {
  "posTag": "MD",
  "posTaggedWord": "might/MD",
  "sentenceIndex": 0,
  "stem": "might|may",
  "text": "might",
  "wordIndex": 1
}, {
  "posTag": "VB",
  "posTaggedWord": "buy/VB",
  "sentenceIndex": 0,
  "stem": "buy",
  "text": "buy",
  "wordIndex": 2
}, {
  "posTag": "NNS",
  "posTaggedWord": "macbooks/NNS",
  "sentenceIndex": 0,
  "stem": "macbooks|macbook",
  "text": "macbooks",
  "wordIndex": 3
}]


--
Dependency Parsing
This service analyses the grammatical structure of the text snippet and assigns typed syntactic dependencies between individual words in each sentence.
The parses and the [typed dependencies]() used resemble the labels and types described in the [Cambridge Grammar of the English Language](http://www.cambridge.org/uk/linguistics/cgel/). 
--
GET /depparse?text=We%20found%20two%20bugs%20in%20your%20app
> Accept: application/json
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "dependency": {
    "predicate": "nsubj(We-0, found-1)",
    "relation": "nsubj"
  },
  "dependent": {
    "stem": "we",
    "text": "We",
    "wordIndex": 0
  },
  "governor": {
    "stem": "find",
    "text": "found",
    "wordIndex": 1
  }
}, {
  "dependency": {
    "predicate": "root(ROOT, found-1)",
    "relation": "root"
  },
  "dependent": {
    "stem": "find",
    "text": "found",
    "wordIndex": 0
  },
  "governor": {
    "stem": "ROOT",
    "text": "ROOT",
    "wordIndex": 1
  }
}, {
  "dependency": {
    "predicate": "det(bugs-0, two-1)",
    "relation": "det"
  },
  "dependent": {
    "stem": "two",
    "text": "two",
    "wordIndex": 0
  },
  "governor": {
    "stem": "bug",
    "text": "bugs",
    "wordIndex": 1
  }
}, {
  "dependency": {
    "predicate": "dobj(found-0, bugs-1)",
    "relation": "dobj"
  },
  "dependent": {
    "stem": "bug",
    "text": "bugs",
    "wordIndex": 0
  },
  "governor": {
    "stem": "find",
    "text": "found",
    "wordIndex": 1
  }
}, {
  "dependency": {
    "predicate": "prep(found-0, in-1)",
    "relation": "prep"
  },
  "dependent": {
    "stem": "in",
    "text": "in",
    "wordIndex": 0
  },
  "governor": {
    "stem": "find",
    "text": "found",
    "wordIndex": 1
  }
}, {
  "dependency": {
    "predicate": "det(app-0, your-1)",
    "relation": "det"
  },
  "dependent": {
    "stem": "your",
    "text": "your",
    "wordIndex": 0
  },
  "governor": {
    "stem": "app",
    "text": "app",
    "wordIndex": 1
  }
}, {
  "dependency": {
    "predicate": "pobj(in-0, app-1)",
    "relation": "pobj"
  },
  "dependent": {
    "stem": "app",
    "text": "app",
    "wordIndex": 0
  },
  "governor": {
    "stem": "in",
    "text": "in",
    "wordIndex": 1
  }
}]