HOST: http://api.theysay.com/

--- TheySay API v1 ---
---
Welcome to the our API documentation.

Rate Limiting
-------------

Unauthenticated calls are permitted 150 requests per hour. If your application is being rate-limited by
the REST API it will receive a HTTP `403` response code.

JSONP
-----

JSONP or "JSON with padding" is a complement to the base JSON data format. You can add 'padding' by 
including the request parameter `callback`. The returned `Content-Type` will be `application/javascript`. For example:

```
http://api.theysay.io/v1/sentiment?text=...&callback=processSentiment
```

---

--
Sentiment Analysis

Detects sentiments and opinions in text using deep sentiment reasoning and gradient sentiment scores.
--
Get the sentiment from a source text.
GET /v1/sentiment?text=I%20really%20like%20theysay
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
{
  "sentiment": {
    "label": "POSITIVE",
    "positive": 0.933,
    "negative": 0.0,
    "neutral": 0.066
  },
  "wordCount": 4
}

Get the sentiment for each sentence from a source text.
GET /v1/sentiment?text=...&level=sentence
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "sentiment": {
    "label": "POSITIVE",
    "positive": 0.838,
    "negative": 0.0,
    "neutral": 0.161,
    "confidence": 0.729
  },
  "start": 0,
  "end": 21,
  "sentenceIndex": 0,
  "text": "Under it , an individual resigns from their company and any salary they subsequently receive is paid to an offshore trust ."
}, {
  "sentiment": {
    "label": "NEGATIVE",
    "positive": 0.031,
    "negative": 0.927,
    "neutral": 0.040,
    "confidence": 0.575
  },
  "start": 22,
  "end": 52,
  "sentenceIndex": 1,
  "text": "The individual then receives a small amount of that as salary and the rest as a loan , which because it can technically be recalled , does not attract tax ."
}]


--
Speculation Detection
Detects speculative expressions in text.
--
Get the speculative expressions from a source text.
GET /v1/speculation?text=I%20might%20buy%20macbooks
< 200
< Access-Control-Allow-Origin:*
< Content-Length:91
< Content-Type: application/json
[{
  "start": 0,
  "end": 3,
  "sentenceIndex": 0,
  "speculationType": "SPECULATION",
  "text": "I might buy macbooks"
}]